#tribe_events_filter_item__ecp_custom_36{
display:none;
}
#tribe_events_filter_item__ecp_custom_15{
display:none;
}
#tribe_events_filter_item__ecp_custom_13{
display:none;
}
#tribe_events_filter_item__ecp_custom_52{
	display:none;
}
#tribe_events_filter_item__ecp_custom_53{
	display:none;
}
.tribe-events-list .tribe-events-event-date {
  padding: 4px 0 0 12px !important;
}

.tribe-events-pagination{
	display:none;
}
