#tribe_events_filter_item__ecp_custom_46{
	display:none;
}
#tribe_events_filter_item__ecp_custom_52{
	display:none;
}
#tribe_events_filter_item__ecp_custom_53{
	display:none;
}
#tribe_events_filter_item__ecp_custom_54{
	display:none;
}
#tribe_events_filter_item__ecp_custom_55{
	display:none;
}