#tribe_events_filter_item__ecp_custom_2{
display:none;
}
#tribe_events_filter_item__ecp_custom_13{
display:none;
}
#tribe_events_filter_item__ecp_custom_15{
display:none;
}
#tribe_events_filter_item__ecp_custom_36{
display:none;
}
#tribe_events_filter_item__ecp_custom_46{
display:none;
}
#tribe_events_filter_item__ecp_custom_54{
display:none;
}
#tribe_events_filter_item__ecp_custom_55{
display:none;
}

.page-title {
  background-color: #235789 !important;
 
}

.events-page-title-wrap{
	display:none !important;
}

h2{
	color:white;
}

#footer-block {
  background: #235789 !important;
}

input[type=submit]{
	background-color:#235789 !important;
}

.tribe-events-list .tribe-events-event-date{
	background-color:rgba(35,87,137, 0.64) !important;
}

.tribe-events-list .event-list-wrapper-bottom{
	height:140px !important;
}

.tribe-events-list .event-list-wrapper-bottom .wraper-bottom-left{
	padding:15px 100px 10px 15px !important;
}
.tribe-events-list .tribe-events-event-date {
  padding: 4px 0 0 12px !important;
}

.tribe-events-pagination{
	display:none;
}

h2{
	font-size:14px !important;
}

.dd{
	display:none !important;
}
.mm{
	display:none !important;
}
.time{
	display:none !important;
}
