/*
Theme Name: Eventica WP Child
Theme URI: http://www.toko.press
Author: TokoPress
Author URI: http://www.toko.press/support
Description: Child Theme Sample for Eventica WP Theme.
Version: 1.9.0
Template: eventica-wp    
Text domain: tokopress;
License: GPL License
License URI: license.txt
Tags: one-column, two-columns, right-sidebar, custom-background, custom-colors, custom-header, custom-menu, featured-images, full-width-template, theme-options, translation-ready
*/

/*HOMEPAGE*/
.custom-background{
	background-color: white !important;
}
.site-branding{
	background-color: white !important;
}
#footer-widget{
	background-color: #d9d6cd !important;
}
#footer-block{
	background-color: #96897B !important;
}
#page-title{
	display:none;
}

.home-slider-header{
	padding:0 !important;
}
.home-testimonials .testimonial-title{
	background-color: #ef5b5b;
	padding: 20px;
}

.home-testimonials .testimonial-title h2{
	color:white;
	font-size: 1.5em;
}

#back-top{
	background-color: #ef5b5b;
}
.header-menu.sf-menu li{
	background-color:#ef5b5b;
	margin: 4px;
}

.recent-post-slider .recentpost-categories ul.post-categories li:nth-child(4n+1) a{
	background-color: #28AFB0;
	border-radius:20px;
	padding:8px;
}

.recent-post-slider.design-2 .post-content-left{
	width: 100%;
	text-align: center;
}

.recent-post-slider.design-2 .recentpost-inner-content{
position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.home-upcoming-events .row {
    background: #d9d6cd !important;
    padding-top: 16px;
}

.header-menu.sf-menu li a{
	color:white;
	font-size: 14px;
}
.header-menu.sf-menu li li a{
	color:#555;
}

@media only screen and (max-width: 500px) { 
 .recent-post-slider.design-1 .post-image-bg img, .recent-post-slider.design-2 .post-image-bg img, .recent-post-slider.design-3 .post-image-bg img{max-width:600px !important}
 .recent-post-slider.design-1 .wp-post-content,  .recent-post-slider.design-2 .wp-post-content,  .recent-post-slider.design-3 .wp-post-content{display:block !important}
 }

.tribe-events-list-separator-month{
	background-color: #ef5b5b !important;
}

.tribe-events-list .tribe-events-loop .tribe-events-list-separator-month, .tribe-events-list .tribe-events-loop .tribe-events-day-time-slot h5 {
	line-height: 35px !important;
}

.page-template-page_home_event-php .home-upcoming-events {
    background-color: white !important;
}

.upcoming-event-title{
	color:#ef5b5b !important;
	font-size: 24px !important;
}

/* UPCOMING EVENTS*/
.upcoming-event-nav{
	padding:10px;
	color:white;
	background-color: #ef5b5b;
	display:none;
}

/* FILTER BAR */
@media ( min-width : 992px){
	#tribe-events-content-wrapper {
		min-height: 870px;
	}
#tribe_events_filters_wrapper.tribe-events-filters-vertical .tribe-events-filters-content {
	left: 0;
	width: 20%;
}

#tribe_events_filters_wrapper.tribe-events-filters-vertical .tribe-events-filters-content {
	left: 0;
	width: 20%;
}
.tribe-filters-closed .tribe_events_filters_close_filters {
	display: block !important;
}
}


/* HIDE TRIBE EVENTS PAGE TITLE*/
.tribe-events-page-title-wrap{
	display:none;
}

/* TRIBE EVENTS LIST LAYOUT */
#tribe-events-content.tribe-events-list{
	width: 80%;
	padding-left:10px;
	float:right;
}
#tribe-events{
	background:#d9d6cd;
	height: 100%;
}

/* SINGLE EVENT */

#tribe-events-content.tribe-events-list .type-tribe_events.tribe-events-first{
	padding-bottom:20px !important;
}
.tribe-events-list .even-list-wrapper{
	overflow: hidden !important;
	background: #ffffff ; /* Old browsers */
}

/* IMAGE  WRAPPER-TOP */

.tribe-events-list .event-list-wrapper-top{
	border-left-style:solid;
	border-left-width:7px;
}

.tribe-events-list .event-list-wrapper-top {   
    padding-right: 0;
	padding-left: 0;
    display: inline-block;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
	border-left: none !important;
}
.tribe-events-list .tribe-events-event-image.thumbnail a{
	display: inline-block;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    overflow: hidden;
}

.tribe-events-list .tribe-events-event-image.thumbnail {
    /* position: relative; */
    overflow: hidden;
    min-height: 140px;
}

/* TEXT  WRAPPER-BOTTOM */

/* IMAGE VENUE*/
.tribe-events-list .tribe-events-event-image img {
    border-radius: 50%;
    background-color: #eee;
    width: 50px !important;
}

.tribe-events-list .tribe-events-event-image .activity-thumbnail{
	background-position: center;
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    background-size: cover;
}

.tribe-events-list .event-list-wrapper-bottom .wraper-bottom-left{
	padding: 0;
    height: 100%;
}

#tribe-events-content h2 {
    font-size: 16px;
}

.tribe-events-list .event-list-wrapper-bottom {
    height: 50%;
    background: transparent !important;
    padding: 10px 5px 5px 10px !important;
	padding-left: 0;
	padding-right: 0;
	float: right;
	height: auto !important;
}

.event-list-wrapper-bottom p{
	margin-top:1px;
	font-size: 12px;
}

.event-excerpt{
	padding: 0 !important;
   margin: 0 !important;
}
/* EVENT TAG */
.event-tag{
	border-radius:5px;
	padding: 2px 12px 2px 12px;
	float:left;
	color:white;
	margin-right: 4px;
	font-size: 12px;
}
.event-tag-ages{
	background:#28AFB0;
}
.event-tag-category{
	background:#FFBA49;
}

.event-tag-category-theatre-performance{
  background-color:Orchid ;
}
.event-tag-category-sports-relaxation{
  background-color:YellowGreen ;
}
.event-tag-category-christmas{
  background-color:MediumPurple ;
}
.event-tag-category-halloween{
  background-color:#8f9222;
}
.event-tag-category-fairs-markets{
  background-color:#d4a800;
}
.event-tag-category-charity-volunteering{
  background-color:MediumAquaMarine ;
}
.event-tag-category-nature-outdoors{
  background-color:IndianRed ;
}
.event-tag-category-visits-culture {
  background-color:Sienna ;
}
.event-tag-category-workshops-classes {
  background-color:#FFBA49 ;
}
.event-tag-language{
	background:#96897B;
}
.event-tag-free{
	background:#EF5B5B;
}